{% extends 'templateBase.html' %}
{% load static %} 
{% block content %} 



<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Criar conta</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="nome_receita">Nome completo</label>
                                <input type="text" class="form-control" name="fullname" placeholder="Ex.:Guilherme Lima" required>
                            </div>

                            <div class="col-12 col-lg-12">
                                <label for="user_name">usuário de login</label>
                                <input type="text" class="form-control" name="user_name" placeholder="Ex.:Guilherme Lima" required>
                            </div>

                            <div class="col-12 col-lg-12">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Ex.: guilherme@receitas.com" required>
                            </div>

                            <div class="col-12 col-lg-12">
                                <label for="email_confirm">Confirme seu Email</label>
                                <input type="email" class="form-control" name="email_confirm" placeholder="Ex.: guilherme@receitas.com" required>
                            </div>

                            <div class="col-12 col-lg-12">
                                <label for="cell">Celular</label>
                                <input type="number" name="cell" class="form-control bfh-phone"  placeholder="+55 (DDD) XXXX-XXXX" style="width: 250px;" required>
                            </div>

                            <div class="col-12 col-lg-6">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="password_confirm">Confirmação de senha</label>
                                <input type="password" class="form-control" name="password_confirm" placeholder="Digite sua senha mais uma vez" required>
                            </div>


                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit" style="margin-top: 20px;">Criar sua conta</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
