{% extends 'templateBase.html' %}
{% load static %}

{% block content %}

<section class="container justify">

    <h1>O Jogo</h1>

    <p class="container justify">O Jogo da bolsa é um ambiente de simulação de investimento na bolsa de valores de São Paulo (B3), e tem o objetivo
        de ser um laboratório de prática de programação e de tecnologia. Seu desenvolvimento base é na linguagem python
        com a utilização do framework Django. O código fonte do projeto é encontrado no <a href="https://github.com/MaercioMamedes/django-finance" target="_blank">GitHub</a>.
    </p>

</section>

{% endblock %} 

