{% extends 'templateBase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'core:login' %}" method="POST">
                        {% csrf_token %}
                        
                        <section class=" container col-8">

                            {% for field in login_form.visible_fields %}
                            <div class="form-group">
                                <label for="{{field.id_for_label}}">{{field.label}}</label>
                                {% render_field field class="form-control" placeholder='Digite aqui' %}
                            </div>
                            {% endfor %}

                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit" style="margin-top: 20px;">Login</button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function exibirCriarConta()
{
     location.href = "{% url 'register' %}";
} 
</script>

{% endblock %}