@import url("https://fonts.googleapis.com/css?family=Lato");

html,body,h1,h2,h3,h4 {
font-family:"Lato", sans-serif
}
.mySlides {
    display:none
}

.w3-tag, .fa {
    cursor:pointer
}

.w3-tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:6px
}

header h1{
    display: inline-block;
}
.img-header{
    display: inline-block;
}
.img-header img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.header-nav a b{
    color: whitesmoke;
    font-weight: bold;
}

a b:hover{
    background-color: blue;
    padding:  5px;
    border-radius: 5px;
}

.imagem-carrossel{
    object-fit: cover;
    object-position: 0 20%;
    height: 400px;
}

.subtitle-slide{
    background-color: black;
    padding: 16px;
    border-radius: 10px;
}